*
!.gitattributes
!.gitignore
!readme.md
!README.md
!.gitkeep
!*.pas
!*/
!objetos/

# Permitir archivos fuente de Java
!*.java
!*.class
!*.jar
!*.war
!*.ear
!*.xml
!*.mf
!*.properties
!nbproject/
!/bin/
!/build/
out/

# Ignorar archivos específicos de Eclipse/IntelliJ
*.iml
*.ipr
*.iws
/.idea/
/.project
/.settings/
/target/
/objetos/nbproject/private/
